.content {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background-color: #A5A5A5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    align-content: center;
}
.content--count {
    display: flex;
}
.content--count__plus {
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
    margin: 20px;
    border-radius: 10px;
    background-color: #C6EFCE;
    color: #006100;
    font-size: 20px;
    box-shadow: 0px 0px 100px -5px rgba(0,0,0,0.6);
    cursor: pointer;
}
.content--count__value {
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
    margin: 20px;
    border-radius: 10px;
    background-color: #FFEB9C;
    color: #9C5700;
    font-size: 20px;
    box-shadow: 0px 0px 100px -5px rgba(0,0,0,0.6);
    width: 100px;
    text-align: center;
}
.content--count__minus {
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
    margin: 20px;
    border-radius: 10px;
    background-color: #FFC7CE;
    color: #9C0006;
    font-size: 20px;
    box-shadow: 0px 0px 100px -5px rgba(0,0,0,0.6);
    cursor: pointer;
}
.content--reset {
    border-style: solid;
    border-width: 1px;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    color: #FA7D00;
    background-color: #F2F2F2;
    font-size: 20px;
    box-shadow: 0px 0px 100px -5px rgba(0,0,0,0.6);
    cursor: pointer;

}